@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
html, html::after, html::before { 
  font-family: sans-serif, Roboto;
} */

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e0d5;
}

.cell {
  position: absolute;
  width: 100px; /* Adjust based on your grid size */
  height: 100px; /* Adjust based on your grid size */
  transition: transform 0.3s ease; /* Smooth transition */
  border: 1px solid red;
}

.cell.moving {
  transition: transform 0.3s ease; /* Smooth transition while moving */
}